<!-- https://code.tutsplus.com/tutorials/how-to-create-a-simple-web-based-chat-application--net-5931 -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Room Page</title>
	<link rel="stylesheet" href="{% static 'chat/css/room_style1.css' %}"/>
</head>
<body>
<h2>Chats in Room {{room.title}}</h2>
<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a id="exit" href="{% url 'home' %}">Exit Chat</a></p>
        <div style="clear:both"></div>
    </div>
     
    <div id="chatbox"></div>
     
    <!-- <form name="message"> -->
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
        <!-- <button  name="submitmsg"  id="submitmsg" value="Send" >submit</button> -->
   <!--  </form> -->
</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">
		socket = new WebSocket("ws://" + window.location.host+window.location.pathname);
		socket.onmessage = function(e) {
			var data_dict = JSON.parse(e.data);

			var message = $("<div size=100>"+data_dict["sender"]+": "+data_dict["textMessage"]+"</div><br/>");
			$("#chatbox").append(message);
			var elem = document.getElementById('chatbox');
  			elem.scrollTop = elem.scrollHeight;
  			// $("#chatbox").scrollTop($("#chatbox").height());
		    //alert(e.data);
		}
		$("#submitmsg").on("click",function(){
			console.log("heyy in click");
			var msg = $('#usermsg').val();
			$('#usermsg').val("");
			console.log(msg);
			socket.send(msg);
		});
	</script>
</body>
</html>